# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
hng-venv/
.venv

# Environment Variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# IDEs
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.pytest_cache/